<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

<body>
  <h1><%= title %></h1>
 <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, sequi illum? Quis nihil incidunt, blanditiis, vitae voluptatum similique excepturi iste dolorem rerum recusandae aut maxime sed dolore, earum odio optio laboriosam delectus! Aspernatur aut eius blanditiis fugit atque sint veniam facere enim modi beatae nam eveniet sapiente hic ut earum sunt provident odit tempore odio mollitia velit quidem, alias harum. Odit saepe mollitia a ea fugit nulla corrupti perspiciatis tenetur libero maiores consectetur, pariatur doloremque. Cupiditate repellendus consequuntur debitis. Vero maiores veritatis praesentium modi provident aperiam commodi aliquam doloribus fuga quae. Fugiat vel ipsa qui dicta sapiente ut ducimus temporibus?</p>
    

</body>

<%- include('../partials/footer.ejs') %>
